{% extends 'layout.html' %}

{% block head %}
  {% parent %}
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script src="/socket.io/socket.io.js"></script>

  <style>
  body { margin-top: 17%;}
  #current-users { font-family: "Raleway"; font-size: 4vw; text-align: center; font-style: italic; padding: 4%; }
  button { padding: 2.5%; background: #D8DCDC; border: solid; border-color: #D8DCDC; border-width: 1px; border-radius: 5px;
  color: #4DB8DB; }
  #messages { width: 96%; margin-left:3%; margin-right:3%; }
  .send-area { background: #D8DCDC; padding: 3%; width: 100%; position: fixed; bottom: 0px; }
  .chat-input { border: 0; padding: 2.5%; border-radius: 5px; border: solid; border-width: 1px; border-color: #D8DCDC; width: 82%; color: #FF0066; }
  .username { font-weight: bold;}
  .bubble { background-color: #F2F2F2; border-radius: 5px; display: inline-block; padding: 10px 18px; position: relative; vertical-align: top; clear:both; font-family: "Raleway"; word-wrap: break-word; }
  .bubble::before { background-color: #F2F2F2; content: "\00a0"; display: block; height: 16px; position: absolute; top: 11px;
    transform: rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
  }
  .you { float: left; margin: 5px 45px 5px 20px; }
  .you::before { left: -9px; }
  .me { float: right; margin: 5px 20px 5px 45px; background-color: #4DB8DB; color: white; display: block; }
  .me::before { right: -9px; background-color: #4DB8DB; }

  </style>



{% endblock %}

{% block content %}
  {% parent %}

<script>

  var socket = io();
  var totalHeight = 0;

  socket.on('connect', function(){
    socket.emit('adduser');
  });


  socket.on('updateusers', function(numUsers) {
    if (numUsers < 2) {
      $('#current-users').html("Welcome. You're the only one here though, just hang on.");  
    } else {
      $('#current-users').html('Go ahead, start chatting.');  
    }
  });

  // listener, whenever the server emits 'updatechat', this updates the chat body
  socket.on('updatechat', function (username, data, me) {
    $('#last').attr("id","notlast");

    if (me) {
      $('#messages').append('<div id="last" class="bubble me">' + data + '</div> ');  
    } else {
      $('#messages').append('<div id="last" class="bubble you">' + data + '</div> ');  
    }
    
    // now scroll
    totalHeight += $("#last").outerHeight(true);
    var pushHeight = $(".navbar").outerHeight(true) + $(".send-area").outerHeight(true);
    $("#messages").height(totalHeight+pushHeight);

  });

  // on load of page
  $(function(){
    $('#datasend').click( function() {
      var message = $('#data').val();
      if (message != "") { $('#data').val('');
        socket.emit('sendchat', message);
      }
    });

    // when the client hits ENTER on their keyboard
    $('#data').keypress(function(e) {
      if(e.which == 13) {
        $(this).blur();
        $('#datasend').focus().click();
      }
    });
  });

</script>

  <div id="current-users"></div>
  <div id="messages"></div>

  <div class="send-area">
    <input id="data" class="chat-input" placeholder="Start chatting..."/>
    <button id="datasend" type="submit">Send</button>
  </div>

<script>

  $(document).ready(function() {
    var $header = $("header"),
    $clone = $header.before($header.clone().addClass("clone"));
    
    $(window).on("scroll", function() {
      var fromTop = $("body").scrollTop();
      $('body').toggleClass("down", (fromTop > 200));
    });
  });
</script>


{% endblock %}
