{% extends 'layout.html' %}

{% block head %}
  {% parent %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  body { margin-top: 17%;}
  button { padding: 2.5%; background: #D8DCDC; border: solid; border-color: #D8DCDC; border-width: 1px; border-radius: 5px;
  color: #4DB8DB; }
  .send-area { background: #D8DCDC; padding: 3%; width: 100%; position: fixed; bottom: 49px; }
  .chat-input { border: 0; padding: 2.5%; border-radius: 5px; border: solid; border-width: 1px; border-color: #D8DCDC; width: 82%; color: #FF0066; }
  #messages { width: 96%; margin-left:3%; margin-right:3%;}
  .username { font-weight: bold;}
  .bubble { background-color: #F2F2F2; border-radius: 5px; display: inline-block; padding: 10px 18px; position: relative; vertical-align: top; clear:both; }
  .bubble::before { background-color: #F2F2F2; content: "\00a0"; display: block; height: 16px; position: absolute; top: 11px;
    transform: rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
  }
  .you { float: left; margin: 5px 45px 5px 20px; }
  .you::before { left: -9px; }
  .me { float: right; margin: 5px 20px 5px 45px; background-color: #4DB8DB; color: white; display: block; }
  .me::before { right: -9px; background-color: #4DB8DB; }





  </style>
{% endblock %}

{% block content %}
  {% parent %}
  <div class="messages">
    <div class="bubble me">Hello there!</div>
    <div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
  <div class="bubble me">Awesome.</div>
  <div class="bubble me">Awesome.</div>
  <div class="bubble me">Awesome.</div>
  <div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
  <div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
  <div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
  <div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
  <div class="bubble you last">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
</div>

  <div class="send-area">
    <input id="data" class="chat-input" placeholder="Start chatting..."/>
    <button id="datasend" >Send</button>
  </div>


<script>

  var docHeight = $(document).height();
  var lastbubble = $(".last").height()
  var totalheight = docHeight + lastbubble;
  $(".messages").css("min-height", totalheight);

  $(document).ready(function() {
    var $header = $("header"),
    $clone = $header.before($header.clone().addClass("clone"));
    
    $(window).on("scroll", function() {
      var fromTop = $("body").scrollTop();
      $('body').toggleClass("down", (fromTop > 200));
    });
  });
</script>

{% endblock %}
