{% extends 'layout.html' %}

{% block head %}
  {% parent %}
  <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
  <script src="/socket.io/socket.io.js"></script>

  <style>
  body { margin-top: 17%;}
  #header { font-family: "Raleway"; font-size: 4vw; text-align: center; font-style: italic; padding: 4%; }
  button { padding: 2.5%; background: #D8DCDC; border: solid; border-color: #D8DCDC; border-width: 1px; border-radius: 5px;
  color: #4DB8DB; }
  #messages { width: 96%; margin-left:3%; margin-right:3%; }
  .send-area { background: #D8DCDC; padding: 3%; width: 100%; position: fixed; bottom: 0px; }
  .chat-input { border: 0; padding: 2.5%; border-radius: 5px; border: solid; border-width: 1px; border-color: #D8DCDC; width: 82%; color: #FF0066; }
  .username { font-weight: bold;}
  .bubble { background-color: #F2F2F2; border-radius: 5px; display: inline-block; padding: 10px 18px; position: relative; vertical-align: top; clear:both; font-family: "Raleway"; word-wrap: break-word; max-width: 90%;}
  .bubble::before { background-color: #F2F2F2; content: "\00a0"; display: block; height: 16px; position: absolute; top: 11px;
    transform: rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
  }
  .you { float: left; margin: 5px 45px 5px 20px; }
  .you::before { left: -9px; }
  .me { float: right; margin: 5px 20px 5px 45px; background-color: #4DB8DB; color: white; display: block; }
  .me::before { right: -9px; background-color: #4DB8DB; }

  .matchInfo { 
    text-align: center;
    padding: 5%;
    height: 133px;
    width: 100%;
    background-color: white;
  }

  img { border-radius: 70%; max-width: 20%;}
  .info { padding: 1.5%; font-family: "Raleway"; }
  .firstName { font-size: 4vw; font-style: italic;}
  .atGym { font-size: 3vw; color: #4DB8DB; }
  #lastupdated { font-size: 2vw; color: #4DB8DB; font-style: italic;}

    
  </style>



{% endblock %}

{% block content %}
  {% parent %}

<script>

var roomId = {{roomId|json_encode|raw}};

var socket = io.connect();
socket.on('message', function (data) {
  console.log(data);
});

 socket.emit('subscribe', roomId);

  var totalHeight = 0;

  // listener, whenever the server emits 'updatechat', this updates the chat body
  socket.on('updatechat', function (username, data, me) {
    $('#last').attr("id","notlast");

    if (me) {
      $('#messages').append('<div id="last" class="bubble me">' + data + '</div> ');  
    } else {
      $('#messages').append('<div id="last" class="bubble you">' + data + '</div> ');  
    }
    
    // now scroll
    totalHeight += $("#last").outerHeight(true);
    var pushHeight = $(".navbar").outerHeight(true) + $(".send-area").outerHeight(true);
    $("#messages").height(totalHeight+pushHeight);

  });

  // on load of page
  $(function(){
    $('#datasend').click( function() {
      var message = $('#data').val();
      if (message != "") { $('#data').val('');
        console.log('emit to server: sendchat');
        socket.emit('sendchat', { roomId: roomId, message: message });
      }
    });

    // when the client hits ENTER on their keyboard
    $('#data').keypress(function(e) {
      if(e.which == 13) {
        $(this).blur();
        $('#datasend').focus().click();
      }
    });
  });

</script>
  
  <div class="matchInfo">
    <img src={{ perminfo.photoAddress}}>
    <div class="info">
      <div class="firstName">chat with {{ perminfo.firstName }}</div>
      <div class="atGym">
        <span class="glyphicon glyphicon-record"></span>
        <span id="atGymMsg"></span>
        <div id="lastupdated"></div>
      </div>    
    </div>
  </div>
  <div id="messages"></div>
  <div class="send-area">

    <input id="data" class="chat-input" placeholder="Start chatting..."/>
    <button id="datasend" type="submit">Send</button>
  </div>

<script>

  document.addEventListener('touchmove', function(e) {
    e.preventDefault();
    var touch = e.touches[0];
    if ($('#navbar').attr("aria-expanded") !== "true") {
      $('.matchInfo').slideDown("slow");
      $('.matchInfo').css("position", "relative");
    }
  }, false);

  function showMatchInfo () {
    if ($('#navbar').attr("aria-expanded") === "false") {
      $('.matchInfo').slideDown("slow");
      $('.matchInfo').css("position", "fixed");
      $('.matchInfo').css("z-index", "1030");
    }
  }

  function hideMatchInfo () {
    $('.matchInfo').slideUp(800, function() {
      $('.matchInfo').css("position", "relative");
      $('.matchInfo').css("z-index", "");
    });
    
  };

  var lastScrollTop = 0;
  $(window).scroll(function(event){
    var st = $(this).scrollTop();
    // scroll down
    if (st > lastScrollTop) { showMatchInfo() } 
    // scroll up
    else { hideMatchInfo() }
    lastScrollTop = st;
  });

  var atGym = {{ atGym }};
  $(function() { 
    if (!atGym) {
      $("#atGymMsg").html("  NOT AT GYM");
      $(".atGym").css("color", "gray");
    } else {
      $("#atGymMsg").html("  AT GYM");
      $("#lastupdated").html("last seen: {{ updated }} ");
    }
  });
  
  $(document).ready(function() {
    var $header = $("header"),
    $clone = $header.before($header.clone().addClass("clone"));
    
    $(window).on("scroll", function() {
      var fromTop = $("body").scrollTop();
      $('body').toggleClass("down", (fromTop > 200));
    });
  });

</script>


{% endblock %}
