{% extends 'layout.html' %}

{% block head %}
  {% parent %}
 
  <link href='../css/profile.css' rel='stylesheet'>
  <script src="../js/hammer.min.js"></script>
  <style>
    body { background-color: #EDF8FB; }
    #profilePicture { background-color: #D8DCDC; }
    #launcher { display: hidden; }
    .modal-dialog { background-color: #EDF8FB; border-radius: 6px; opacity: 0.93; }
    .modal-header, .modal-body { text-align: center; font-family: "Raleway"; }
    .close { font-size: 18vw; }
    .modal-footer { text-align: center; }
    .chatBtn { margin-top: 4%; margin-bottom: 4%; }
  </style>

{% endblock %}

{% block content %}
  {% parent %}

  <div id="nonavContainer" class="container">
    <div id="thumbsupWrapper"><span id="thumbsup" class="glyphicon glyphicon-thumbs-up"></span></div>
    <div id="thumbsdownWrapper"><span id="thumbsdown" class="glyphicon glyphicon-thumbs-down"></span></div>
    
    <div class="profileContainer">
      <div class="photoWrapper">

        <div class="overlapWrapper">
          <span id="nayButton" class="glyphicon glyphicon-remove-circle"></span>
          <div class="profileName" id="firstName"></div>
          <span id="yayButton" class="glyphicon glyphicon-ok-circle"></span>
        </div>
        
        <img id="profilePicture" onerror="this.src = '../img/camera.png';" class="profile">

      </div>

      <div class="profileInfoWrapper">
        <div class="row">
          <div class="col-xs-1"><span class="glyphicon glyphicon-time"></span></div>
          <div class="col-xs-10" id="hereuntil"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"><span class="glyphicon glyphicon-list-alt"></span></div>
          <div class="col-xs-10" id="activities"></div>
        </div>
        <div class="row" id="certsWrapper">
          <div class="col-xs-1"><span class="glyphicon glyphicon-tags"></span></div>
          <div class="col-xs-10" id="certs"></div>
        </div>
      </div>
    </div>

    

  </div>
  

  <!-- Wants to climb with you Modal -->
  <div class="modal fade" id="matchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div><h2 class="modal-title" id="myModalLabel">BELAY ON!</h2></div>
        </div>
        <div class="modal-body">
          <div id="modal-message"><span id="matchMessage"></span></div>
          <div><a href="/chats">Chat with them here.</a></div>
        </div>

      </div>
    </div>
  </div>


<!-- Tells you can swipe modal -->
  <div class="modal fade" id="swipeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <img style="max-width: 50%; padding-bottom: 10px" src="../img/swipe-illustration.png"></img>

          <div id="modal-message">Swipe right to pick a climber, <br> and left to pass.</div>

        </div>
      </div>
    </div>
  </div>

  <script>
    

    var climbers = {{climbers|json_encode|raw}};

    $("#climbersBadge").html(climbers.length);

    $('#swipeModal').modal('show');

    var matchesLastChecked;

    // ever so often, check if there are any matches, and expose them.
    setInterval(function(){
      checkForMatches();
    },8000);

    function populateProfile(match) {
      $('#firstName').html(match.perminfo.firstName).attr('name', match.perminfo.userId);

      // populate cert info
      if ((match.perminfo.topCert && match.perminfo.leadCert) || match.perminfo.leadCert) {
        $("#certs").html("top & lead certified");
      } else if (match.perminfo.topCert) {
        $("#certs").html("top certified");
      } else $("#certs").html("not yet belay certified")

      // populate "here until" info
      var d = new Date(match.seshinfo.timeOut);
      var timeOutMilitary = String(d.getHours()) + String(d.getMinutes());
      var timeOut = getFormattedTime(timeOutMilitary);
      $('#hereuntil').html("here until ~ " + timeOut);

      // populate "down to" info
      var activities = []
      if (match.seshinfo.wannaTop) activities.push("top rope");
      if (match.seshinfo.wannaLead) activities.push("lead climb");
      if (match.seshinfo.wannaBoulder) activities.push("boulder");
      $('#activities').html("down to " + activities.join(", "));
      
      if (match.perminfo.photoAddress == null) $('#profilePicture').attr('src', "../img/camera.png");  
      else $('#profilePicture').attr('src', match.perminfo.photoAddress);  
    }

    $(function() {

      // show the first match
      populateProfile(climbers[0]);
      var i=0;

      // record match. matchId = id of user picked.
      function recordMatch(matchId) {
        var data = {}
        data["matchId"] = matchId
        $.ajax({
          type: "POST",
          url: "/matches",
          xhrFields: { withCredentials: true },
          data: data,
          complete: function() {
          },
          success: function(response) {
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log("POSTing /climbers had an error.")
            console.log(errorThrown);
          }
        });
      };

      // respond to any event on the page
      function respond(iconElement, matchId, matchName, picked) {
        $('body').fadeTo(500, 0.5, function() { // once body is hidden, show the thumb.
          iconElement.slideDown(100).delay(500).fadeOut(200, function () {
              
            // record swipe to db
            if (picked) {
              recordMatch(matchId)
              checkMatch(matchId, matchName) // check if matchId likes userId
            }
              // if not picked, don't surface for the rest of session i guess?

            // populate next person
            i = (i+1) % (climbers.length);
            populateProfile(climbers[i]);
            $('body').fadeTo(200, 1) // once the thumb is fades out, update the match and fade the body in.
          })
        })
      }

      // listen for event on buttons
      $('#yayButton').on('click', function () { 
        var matchId = $('#firstName').attr("name");
        var matchName = $('#firstName').text();
        respond($("#thumbsupWrapper"), matchId, matchName, true) 
      });
      
      $('#nayButton').on('click', function () { 
        var matchId = $('#firstName').attr("name");
        var matchName = $('#firstName').val();
        respond($("#thumbsdownWrapper"), matchId, matchName, false) 
      });

      //  listen for swipes
      var container = document.getElementById("nonavContainer");
      var hammer = new Hammer(container);
      hammer.on("swipeleft swiperight", function(event) {
        var matchId = $('#firstName').attr("name");
        var matchName = $('#firstName').val();
        if (event.type === "swiperight") respond($("#thumbsupWrapper"), matchId, matchName, true) 
        else respond($("#thumbsdownWrapper"), matchId, matchName, false) 
      });


    });

    // functions for time
    function addZero(i) {
      if (i < 10) { i = "0" + i; }
      return i;
    }

    function getFormattedTime(fourDigitTime) {
      var hours24 = parseInt(fourDigitTime.substring(0, 2),10);
      var hours = ((hours24 + 11) % 12) + 1;
      var amPm = hours24 > 11 ? 'pm' : 'am';
      var minutes = fourDigitTime.substring(2);
      return hours + ':' + addZero(minutes) + amPm;
    };

    // the periodic check for matches
    function checkForMatches() {
      console.log('Checking for new matches.');
      
      $.ajax({
        type: "get",
        url: "/matches/any",
        xhrFields: { withCredentials: true },
        success: function (latestMatches) {
          if (latestMatches.length > 0) {

            // only if there's been a new match, show the match modal, and update the matchesLastChecked variable.
            if (matchesLastChecked != latestMatches.toString()) { 
              matchesLastChecked = latestMatches.toString();

              $("#matchMessage").html("Someone just said they want to climb with you!");
              $('#matchModal').modal('show');
            } else { "no new matches." }
          }
        },
        error: function(http, textstatus, error) {
          console.log(http);
          console.log(textstatus);
          console.log(error);
        }
      });
    };


    // check for a match.
    function checkMatch(matchId, matchName) {
      var data = {};
      data["matchId"] = matchId;
      $.ajax({
        type: "get",
        url: "/matches",
        data: data,
        xhrFields: {withCredentials: true},
        success: function(response) {
          if (response) {
            $("#matchMessage").html(matchName + " wants to climb with you!");
            $('#matchModal').modal('show');
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("GETting /matches had an error.")
          console.log(errorThrown);
        }
      });
    };

    
  </script>

{% endblock %}
