<!DOCTYPE HTML>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" >

    <link href="../css/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="../css/navbar.css" rel="stylesheet">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/bootstrap-toggle.min.js"></script>
  
    <style>
      body {
        background-color: #EDF8FB;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="/">climbr</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/matches">Matches <span class="badge">10</span></a></li>
            <li><a href="/perminfo">About You</a></li>
            <li><a href="/seshinfo">Today's Sesh</a></li>
            <li><a href="/">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="profileContainer">
        <img class="profile" src="../img/Igor.png">
        <div class="profileNameWrapper">
          Vicky
        </div>
        <div class="profileInfoWrapper">
          <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-time"></span></div>
            <div class="col-xs-10">Here until 3pm</div>
          </div>
          <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-list-alt"></span></div>
            <div class="col-xs-10">Down to: top rope, lead, boulder</div>
          </div>
          <div class="row">
            <div class="col-xs-1"><span class="glyphicon glyphicon-tags"></span></div>
            <div class="col-xs-10">top & lead certified</div>
          </div>
        </div>
      </div>

      <div class="swipeButtonsWrapper">
        <span class="glyphicon glyphicon-remove-circle swipeLeft"></span>
        <span class="glyphicon glyphicon-ok-circle swipeRight"></span>
      </div>

    </div>

  </body>
</html>
