<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" media="(max-device-width: 500px)" href="../css/small_screen.css">
    <link rel="stylesheet" media="(min-device-width: 500px)" href="../css/desktop.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="log_in_container">
      <div class="logo">climbr</div>
      <div class="text">find a climbing buddy nearby.</div>
      <div id="log_in_form">
        <div><input class="log_in_input" placeholder="username"></input></div>
        <div><input class="log_in_input" placeholder="password"></input></div>
        <button class="log_in_submit" type="submit">CLIMB ON</button>
      </div>
      <div class="text">just joining us? <a href="/signup">sign up</a></div> 
    </div>
  </body>
</html>
