{% extends 'layout.html' %}

{% block head %}
  {% parent %}
  <link href='../css/signin.css' rel='stylesheet'>
{% endblock %}

{% block content %}

  <div class="container">

    <form action="/" method="POST" class="form-signin">
      <div class="logo">climbr</div>
      <h5 class="form-signin-heading fancy-text">find a climbing buddy nearby.</h5>
      <input type="username" name="username" class="form-control" placeholder="username" required=""></input>
      <input type="password" name="password" class="passwordWithMargin form-control" placeholder="password"></input>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Belay On</button>
    </form>  
    
      <h5 class="fancy-text">just joining us? <a href="/signup">sign up!</a></h5> 
      <div class="fancy-text">{{ error }} </div>
  
  </div>
      
{% endblock %}
