{% extends 'layout.html' %}

{% block head %}
  {% parent %}
  <link href='../css/profile.css' rel='stylesheet'>
  <script src="../js/hammer.min.js"></script>
{% endblock %}

{% block content %}
  {% parent %}

  <div id="nonavContainer" class="container">
    <div id="thumbsupWrapper"><span id="thumbsup" class="glyphicon glyphicon-thumbs-up"></span></div>
    <div id="thumbsdownWrapper"><span id="thumbsdown" class="glyphicon glyphicon-thumbs-down"></span></div>
    <div class="profileContainer">
      <img id="profilePicture" class="profile">
      <div class="profileNameWrapper">
        <div id="firstName"></div>
      </div>
      <div class="profileInfoWrapper">
        <div class="row">
          <div class="col-xs-1"><span class="glyphicon glyphicon-time"></span></div>
          <div class="col-xs-10" id="hereuntil"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"><span class="glyphicon glyphicon-list-alt"></span></div>
          <div class="col-xs-10" id="activities"></div>
        </div>
        <div class="row" id="certsWrapper">
          <div class="col-xs-1"><span class="glyphicon glyphicon-tags"></span></div>
          <div class="col-xs-10" id="certs"></div>
        </div>
      </div>
    </div>

    <div class="swipeButtonsWrapper">
      <span id="nayButton" class="glyphicon glyphicon-remove-circle"></span>
      <span id="yayButton" class="glyphicon glyphicon-ok-circle"></span>
    </div>

  </div>
  <script>
    var matches = {{matches|json_encode|raw}};

    $("#matchesBadge").html(matches.length);

    function populateProfile(match) {
      $('#firstName').html(match.perminfo.firstName);

      // populate cert info
      if ((match.perminfo.topCert && match.perminfo.leadCert) || match.perminfo.leadCert) {
        $("#certs").html("top & lead certified");
      } else if (match.perminfo.topCert) {
        $("#certs").html("top certified");
      } else $("#certs").html("not yet belay certified")

      // populate "here until" info
      var d = new Date(match.seshinfo.timeOut);
      var timeOutMilitary = String(d.getHours()) + String(d.getMinutes());
      var timeOut = getFormattedTime(timeOutMilitary);
      $('#hereuntil').html("here until ~ " + timeOut);

      // populate "down to" info
      var activities = []
      if (match.seshinfo.wannaTop) activities.push("top rope");
      if (match.seshinfo.wannaLead) activities.push("lead climb");
      if (match.seshinfo.wannaBoulder) activities.push("boulder");
      $('#activities').html("down to " + activities.join(", "));

      $('#profilePicture').attr('src', "../img/Igor.png");  
    }

    $(function() {

      // show the first match
      populateProfile(matches[0]);
      var i=0;

      // respond to any event on the page
      function respond(iconElement) {
        $('body').fadeTo(500, 0.5, function() { // once body is hidden, show the thumb.
          iconElement.slideDown(100).delay(500).fadeOut(200, function () {
            i = (i+1) % (matches.length);
            populateProfile(matches[i]);
            $('body').fadeTo(200, 1) // once the thumb is fades out, update the match and fade the body in.
          })
        })
      }

      // listen for event on buttons
      $('#yayButton').on('click', function () { respond($("#thumbsupWrapper")) });
      $('#nayButton').on('click', function () { respond($("#thumbsdownWrapper")) });

      //  listen for swipes
      var container = document.getElementById("nonavContainer");
      var hammer = new Hammer(container);
      hammer.on("swipeleft swiperight", function(event) {
        if (event.type === "swiperight") respond($("#thumbsupWrapper"));
        else respond($("#thumbsdownWrapper"));
      });


    });

    // functions for time
    function addZero(i) {
      if (i < 10) { i = "0" + i; }
      return i;
    }

     function getFormattedTime(fourDigitTime) {
      var hours24 = parseInt(fourDigitTime.substring(0, 2),10);
      var hours = ((hours24 + 11) % 12) + 1;
      var amPm = hours24 > 11 ? 'pm' : 'am';
      var minutes = fourDigitTime.substring(2);
      return hours + ':' + addZero(minutes) + amPm;
    };
    
  </script>

{% endblock %}
