<!DOCTYPE HTML>
<html>
	<head>
		
		<style>
		 #section-2, #section-3, #section-4, #section-5, #section-6, #submission, #back {
	 		display: none;
		 }
		</style>

		<link rel="stylesheet" href="../css/sign-in.css">
	  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <script src="js/jquery.min.js"></script>
	</head>
	
	<body>
		<div class="container">
			<form action="/seshinfo">
				<h1>Personal Info</h1>
				Name: <%=firstName %> 
				<br>Gender: <%= gender %>
				<br>Weight: <%= weight %> 
				<br>Top rope certified: <%= top %>
				<br>Lead certified: <%= lead %>
				<br>Generally climb: <%=ropeLevelRange %>
				<br>Generally boulder: <%= boulderLevelRange %>
				<div class="navigation-buttons">
					<button type="submit">Next</button>
				</div>
			</form>
		</div>
	</body>
</html>