{% extends 'layout.html' %}

{% block head %}
  {% parent %}
 <style> 
    img.profileThumbnail {
      width: 66px;
    }
  </style>
{% endblock %}

{% block content %}
  {% parent %}

  <div class="container">
      <div class="header">
        about you
      </div>
      <div class="infoPartI">
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><span class="glyphicon glyphicon-user"></span></div>
          <div class="perm-col-right col-xs-8 perm-col"><input type="text" class="editable" name="firstName" value= {{firstName}}> </input></div>
        </div>
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><strong>♀♂</strong></div>
          <div class="perm-col-right col-xs-8 perm-col">
            <select id="gender" name="gender" class="editable">
              <option value="default">Gender</option>
              <option value="female">Female</option>
              <option value="male">Male</option>
              <option value="declined">Rather not say</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><img src="../img/scales.png"></img></span></div>
          <div class="perm-col-right col-xs-8 perm-col"><input id="weight" class="editable" name="weight" type="text" placeholder="lbs" min="20" max="400" value="{{weight }} lbs"></input></div>
        </div>
      </div>

      <div class="infoPartII">
        
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><span class="glyphicon glyphicon-tag"></span></div>
          <div class="col-xs-6 perm-col">top rope certified?</div>
          <div class="col-xs-3 perm-col">
            <input id="top" name="topCert" type="checkbox" class="editable" data-toggle="toggle" data-size="mini" data-on="Yes" data-off="No" data-onstyle="info">
          </div>
        </div>
        
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><span class="glyphicon glyphicon-tags"></span></div>
          <div class="col-xs-6 perm-col">lead certified?</div>
          <div class="col-xs-3 perm-col">
            <input id="lead" name="leadCert" type="checkbox" class="editable" data-toggle="toggle" data-size="mini" data-on="Yes" data-off="No" data-onstyle="info">
          </div>
        </div>
      
      </div>

      <div class="infoPartII">
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><img src="../img/ropeup.png"></div>
          <div class="perm-col-right col-xs-8 perm-col">
            <select id="ropeLow" class="editable ropeLevel highlightDropDown" name="ropeLow"></select>
            &nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;
            <select id="ropeHigh" class="editable ropeLevel highlightDropDown" name="ropeHigh"></select>
          </div>
        </div>
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><img src="../img/boulder.png"></div>
          <div class="perm-col-right col-xs-8 perm-col">
            <select id="boulderLow" class="editable boulderLevel highlightDropDown" name="boulderLow"></select>
            &nbsp;&nbsp;&nbsp;to&nbsp;&nbsp;&nbsp;
            <select id="boulderHigh" class="editable boulderLevel highlightDropDown" name="boulderHigh"></select>
          </div>
        </div>
      </div>
      
      <div class="infoPartII">
        <div class="row">
          <div class="perm-col-left col-xs-3 perm-col"><span class="glyphicon glyphicon-camera"></span></div>
          <div class="perm-col-right col-xs-5 perm-col"><a href="/photo">Change photo</a></div>
          <div class="col-xs-4"><img class="profileThumbnail" src="{{ photoAddress }}"></div>
        </div>

      </div>

  </div>


  <script>

    $("#gender").val("{{ gender }}");
    $('#top').prop('checked', {{ top }});
    $('#lead').prop('checked', {{ lead }});

    $(".editable").on("change", function (event) {
      var newValueType = ($(this).attr("name"));
      if (newValueType === "topCert" || newValueType === "leadCert") {
        var newValue = $(this).is(":checked");
      } else {
        var newValue = $(this).val();
      }
      var data = {};
      data[newValueType] = newValue;
      console.log("Changed detected for (translated to json): " + JSON.stringify(data));
      $.ajax({
        type: "POST",
        url: "/perminfo/edit",
        xhrFields: {withCredentials: true},
        data: data,
        complete: function() {
          console.log("process has completed.");
        },
        success: function(response) {
          console.log("thing that just got saved (not translated): " + data);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          console.log("POSTing /perminfo/edit had an error.")
          console.log(errorThrown);
        }
      });
    });
    
    var optionalObject = { 
      ropeHigh: "{{ropeHigh}}", 
      ropeLow: "{{ropeLow}}", 
      boulderHigh: "{{boulderHigh}}", 
      boulderLow: "{{boulderLow}}"
    }
    
    setupInputs(optionalObject)
  
  </script>

{% endblock %}
