<!DOCTYPE HTML>
<html>
	<head> 
		<link rel="stylesheet" href="../css/sign-in.css">
		<link rel="stylesheet" href="../css/profile.css">
	  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	</head>
	<body>
		<div class="container">
			<div class="profile-wrapper">
				<div class="display-name">VICKY</div>
				<div class="profile-pic-wrapper">
					<img src="../img/Igor.png" class="profile-pic">
				</div>
				<div class="display-info-wrapper">
					<strong>HERE UNTIL:</strong> 9pm
					<br/><strong>WANTS TO:</strong> top rope, lead climb

				</div>
			</div>
			<div class="button-wrapper">
				<img src="../img/no.png" class="button">
				<img src="../img/info.gif" class="button">
				<img src="../img/yes.png" class="button">
			</div>	
		</div>
		
	</body>
</html>
