<!DOCTYPE HTML>
<html>
  <head>
    <style>
     #section-2, #submission, #back {
      display: none;
     }
    </style>

    <link rel="stylesheet" href="../css/sign-in.css">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <script src="js/jquery.min.js"></script>
    <script src="js/navigation.js"></script>
  </head>
  <body>
    <div class="container">
      <form action="/seshinfo" method="POST">
        <div id="section-1" class="form-section-wrapper">
            What do you want to do today?
          <div class="input-wrapper">
            <input type="checkbox" id="topropesesh" name="top" value="yes">top rope<br>
            <input type="checkbox" id="leadsesh" name="lead" value="yes">lead climb<br>
            <input type="checkbox" id="bouldersesh" name="boulder" value="yes">boulder<br>
          </div>
        </div>
        <div id="section-2" class="form-section-wrapper">
            <div>How long are you sticking around for?</div>
            <div class="input-wrapper">
              About <select class="sessionLength" name="sessionLength"></select>
            </div>
        </div>
        <div class="navigation-buttons">
          <button id="back" onclick="backSection(); return false;">Back</button>
          <button id="next" onclick="nextSection(); return false;">Next</button>
          <button id="submission" type="submit" onclick="validateSection()">Submit</button>
        </div>
          <br><div id="preventNext"></div>
          <div id="preventSubmit"></div>
        </form>
    </div>

    <script>

      $(function(){
        var $select = $(".sessionLength");

        var timesValue = [30, 60];
        var timesDisplay = ["30 mins", "1 hr"];
        for (var i=3; i<=12; i++) {
          timesValue.push((i*30));
          timesDisplay.push((i/2) + " hrs");
        };

        $select.append($('<option></option>').html("Select a time").attr("value","default"));
        for (i=0;i<timesValue.length;i++) {
          $select.append($('<option></option>').val(timesValue[i]).html(timesDisplay[i]))
        }
      });
    </script>
</html> 
