<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" media="(max-device-width: 500px)" href="../css/small_screen.css">
    <link rel="stylesheet" media="(min-device-width: 500px)" href="../css/desktop.css">
	</head>
	<body>
		<div id="log_in_container">
      <div class="logo">climbr</div>
      <div class="text">find a climbing buddy nearby.</div>
      <div id="log_in_form">
        <form action="/signup" method="POST">
          <div><input class="log_in_input" name="username" type="username" placeholder="username"></input></div>
          <button class="log_in_submit" type="submit">SIGN UP</button>
        </form>
      </div>
      <div class="text">already have an account? <a href="/">log in!</a></div> 
    </div>
	</body>
</html>