<!DOCTYPE HTML>
<html>
	<head>
			<link rel="stylesheet" media="(max-device-width: 500px)" href="../css/small_screen.css">
	    <link rel="stylesheet" media="(min-device-width: 500px)" href="../css/desktop.css">
	    <link rel="stylesheet" href="../css/universal.css">
	    <script src="js/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			Just a few more things we need to know about you as a climber. 
			<br><br>You can come back to change this whenever you want.
			<form action="/signuptwo" method="POST">
				<div>
					<input placeholder="first name"></input>
					<select>
						<option value="female">Female</option>
						<option value="male">Male</option>
						<option value="declined">Rather not say</option>
					</select>
					
					<div>
						<input id="height" name="height" placeholder="height" maxlength="5"></input>
						<input id="weight" name="weight" placeholder="weight" min="20" max="400"></input> 
					</div>
					
					<div>
						<input type="checkbox" name="top" value="yes">top rope certified<br>
						<input type="checkbox" name="lead" value="yes">lead certified<br>
					</div>
					
					<div>
						
						<h1>Rope Level</h1>
						<div>
							When I'm tired, I climb a <select class="ropeLevel" name="lowRopeLevel"></select>
							<br>When I'm pumped, I climb a <select class="ropeLevel" name="highRopeLevel"></select>
						</div>

						<h1>Bouldering Level</h1>
						<div>
							When I'm tired, I climb a <select class="boulderLevel" name="lowBoulderLevel"></select>
							<br>When I'm pumped, I climb a <select class="boulderLevel" name="highBoulderLevel"></select>
						</div>
					
					</div>

					<button type="submit">BELAY ON</button>
				</form>
		</div>

		<script>

			// when backspacing, remove quotes AND numbers
			// is there a better way to do this? 
			$('#height').keydown(function(e) {
				if (e.keyCode == 8) {
					var currentValue = $(this).val()
					if (currentValue.length === 5) $(this).val(currentValue.substring(0, currentValue.length - 2));
					else $(this).val(currentValue.substring(0, currentValue.length - 1));
				}
			});

			// when entering in feet and inches, add units after keypress
			// is there a better way to do this? 
			$('#height').keypress(function(e) {
			    var $heightField = $(this);
			    var beforeVal = $heightField.val();
			    var keyPressed = String.fromCharCode(e.which);
			    if (beforeVal.length === 0) { // feet
			    	setTimeout(function() { $heightField.val($heightField.val() + "'");
				    }, 1);
					} else if (beforeVal.length === 2) { //inches
						setTimeout(function() { $heightField.val($heightField.val() + '"');  
						}, 1); 
					} else if (beforeVal.length === 4) { //inches double digits
						setTimeout(function() { $heightField.val(beforeVal.slice(0,3) + keyPressed + '"');  
						}, 1); 
					} else if (beforeVal.length === 5) {
						setTimeout(function() { $heightField.val(beforeVal.slice(0,2) + beforeVal.charAt(4) + keyPressed + '"');  
						}, 1); 
					}
			});

			$(function(){
    		var $select = $(".ropeLevel");
    		var levels = ["5.5", "5.6", "5.7", "5.8", "5.9", "5.10a", "5.10b", "5.10c", "5.10d", "5.11a", "5.11b", "5.11c", "5.11d", "5.12a", "5.12b", "5.12c", "5.12d", "5.13a", "5.13b", "5.13c", "5.13d", "5.14a", "5.14b", "5.14c", "5.14d"];
    		for (i=0;i<=25;i++) {
    			$select.append($('<option></option>').val(levels[i]).html(levels[i]))
    		}
			});

			$(function(){
    		var $select = $(".boulderLevel");
    		var levels = ["VB", "V0", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10", "V11", "V12", "V13", "V14", "V15", "V16", "V17"];
    		for (i=0;i<=19;i++) {
    			$select.append($('<option></option>').val(levels[i]).html(levels[i]))
    		}
			});

		</script>

	</body>
