<!DOCTYPE HTML>
<html>
	<head>
			<link rel="stylesheet" media="(max-device-width: 500px)" href="../css/small_screen.css">
	    <link rel="stylesheet" media="(min-device-width: 500px)" href="../css/desktop.css">
	    <link rel="stylesheet" href="../css/universal.css">
	    <script src="js/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			Just a few more things we need to know about you as a climber. 
			<br><br>You can come back to change this whenever you want.
			<form action="/signuptwo" method="POST">
				<div>
					<input placeholder="first name"></input>
					<select id="gender" name="gender">
						<option value="default">Gender</option>
						<option value="female">Female</option>
						<option value="male">Male</option>
						<option value="declined">Rather not say</option>
					</select>
					
					<div>
						<input id="height" name="height" placeholder="height (in inches)" onfocus="this.type='number'" maxlength="5"></input>
						<br /><input id="weight" name="weight" placeholder="weight" onfocus="this.type='number'" min="20" max="400"></input> 
					</div>
					
					<div>
						<input type="checkbox" name="top" value="yes">top rope certified<br>
						<input type="checkbox" name="lead" value="yes">lead certified<br>
					</div>
					
					<div>
						
						<h1>Rope Level</h1>
						<div>
							When I'm tired, I climb a <select class="ropeLevel" name="lowRopeLevel"></select>
							<br>When I'm pumped, I climb a <select class="ropeLevel" name="highRopeLevel"></select>
						</div>

						<h1>Bouldering Level</h1>
						<div>
							When I'm tired, I climb a <select class="boulderLevel" name="lowBoulderLevel"></select>
							<br>When I'm pumped, I climb a <select class="boulderLevel" name="highBoulderLevel"></select>
						</div>
					
					</div>

					<button type="submit">BELAY ON</button>
					<div id="preventSubmit"></div>
				</form>
		</div>

		<script>

			// when entering in height (in inches), convert to feet and inches upon blur
			// is there a better way to do this? 
			// .focus and .blur functions works for chrome and safari. not for firefox. 
			$('#height').blur(function() {
				if ($(this).val().length !== 0) {
					var enteredValue = parseInt($(this).val());
	        var feet = Math.floor(enteredValue / 12);
	        var inches = enteredValue % 12;
	        $(this).attr("type","text");
	        $(this).val(feet + " ft " + inches + " in");
			    }
			});

			$('#height').focus(function() {
				var charArray = $(this).val().split(" ");
		    if (charArray.length > 1) {
	        var feet = parseInt(charArray[0]);
	        var inches = parseInt(charArray[2]);
	        $(this).attr("type","number");
	        $(this).val(feet*12 + inches);
		    }
			});


			$('#weight').blur(function() {
				$(this).attr("type", "text");
				if ($(this).val().length > 0) {
					$(this).val($(this).val() + " lbs");
				}
			});

			$('#weight').focus(function() {
				if ($(this).val().length > 0) {
					$(this).val($(this).val().replace(" lbs", ""));
				}
				$(this).attr("type", "number");
			});


			$(function(){
    		var $select = $(".ropeLevel");
    		var levels = ["5.5", "5.6", "5.7", "5.8", "5.9", "5.10a", "5.10b", "5.10c", "5.10d", "5.11a", "5.11b", "5.11c", "5.11d", "5.12a", "5.12b", "5.12c", "5.12d", "5.13a", "5.13b", "5.13c", "5.13d", "5.14a", "5.14b", "5.14c", "5.14d"];
    			$select.append($('<option></option>').html("Select a level").attr("value","default"));
    		for (i=0;i<=25;i++) {
    			$select.append($('<option></option>').val(levels[i]).html(levels[i]))
    		}
			});

			$(function(){
    		var $select = $(".boulderLevel");
    		var levels = ["VB", "V0", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10", "V11", "V12", "V13", "V14", "V15", "V16", "V17"];
    		$select.append($('<option></option>').html("Select a level").attr("value","default"));
    		for (i=0;i<=19;i++) {
    			$select.append($('<option></option>').val(levels[i]).html(levels[i]))
    		}
			});


		// validate form submission
		$("form").submit(function(event) {
			var emptyInputs = $(this).parent().find("input").filter(function() {
        	return this.value === "";
    	});

			if (emptyInputs.length) {
				event.preventDefault();
				$("#preventSubmit").html("fill it out dude");
			}

			$("select").each(function () {
				var defaultValue = "default";
				var selectedValue = $(this).val()
				if (defaultValue === selectedValue) {
					event.preventDefault();	
					$("#preventSubmit").html("fill it out dude");
				}
			});

		});
		</script>

	</body>
