<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="../css/sign-in.css">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  </head>
  <body>
    <div class="container">
      <div class="logo">climbr</div>
      <div class="fancy-text">find a climbing buddy nearby.</div>

      <div class="form-section-wrapper" style="text-align: center;">
        <form action="/" method="POST">
          <div class="input-wrapper">
            <div><input type="username" placeholder="username"></input></div>
            <div><input type="password" placeholder="password"></input></div>
            <div><input type="password" placeholder="confirm password..."></input></div>
          <button class="log_in_submit" type="submit">ON BELAY</button>
        </form>
        </div>
      </div>
      <div class="fancy-text">have an account? <a href="/">log in!</a></div> 
    </div>
  </body>
</html>
