/*ids are #, classes are .*/

body {
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
}

.container {
	margin: 60px;
	margin-left: 200px;
	margin-right: 200px;
}

.box {
	float: left;
	margin: 30px;
	padding: 10px;
	width: 300px;
	border: 6px solid black;
}

/*log in page*/

#log_in_container {
	margin-top: 50px;
	margin-bottom: 100px;
}

body {
	
}

#logo_image {
	height: 10px;
	text-align: center;
}

.logo {
	font-size: 200px;
	font-family: 'Lobster', cursive;
	color: #B20000;
	text-align: center;
}

.text {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #7A3D00;
}

#log_in_form {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
}

.log_in_input, .log_in_submit {
	height: 60px;
	width: 265px;
	border-radius: 6px;
	display: inline-block;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
	padding: 2px 12px 2px 12px;
	background-color: white;
}

a {
	color: #00005C;
  text-decoration: none;
}

a:hover {
  color: #FF0066;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}