/*ids are #, classes are .*/

.container {
	margin: 30px;
	margin-left: 200px;
	margin-right: 200px;
}

/*log in page*/

#log_in_container {
	margin-top: 20px;
	margin-bottom: 15px;
}

.logo {
	font-size: 175px;
	font-family: 'Lobster', cursive;
	font-color: #A37547;
	color: #B20000;
	text-align: center;
}

.text {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #7A3D00;
	text-align: center;
}

#log_in_form {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
}

.log_in_input, .log_in_submit {
	height: 60px;
	width: 200px;
	border-radius: 6px;
	display: inline-block;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
	padding: 2px 12px 2px 12px;
	background-color: white;
}
