/*
the blue: #4DB8DB
the pink: #FF0066 
the light pink: #FF66A3;
*/

body {
  padding-top: 70px;
}

.perm-col {
  font-size: 14px;
}

div[class^="col-"], div[class*="col-"] {
  color: #9D9DA4;
  font-family: "Raleway";
  padding-top: 6px;
  padding-bottom: 6px;
}

.question, #preventNext {
  font-family: "Raleway";
}

.perm-col-left, .question  {
  text-align: center;
}

.perm-col-right {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #D8DCDC;
}

.pages-col-mid {
  text-align: right;
}

.highlightDropDown {
  color: #FF0066;
}

.header {
  font-size: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #FF0066;
  padding-bottom: 1.5px;
}

.infoPartI {
  padding-top: 10px;
}

.infoPartII {
  padding-top: 40px;
}

.submitWrapper {
  text-align: center;
  padding-top: 30px;
}

.submitBtn {
  background-color: #4DB8DB;
  border: none;
  color: #fff;
}

.logo {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: white;
}

input {
  border: none;
}

.input-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

select {
  background:transparent;
  -webkit-appearance: none;
  border: none;
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}
