/*
the blue: #4DB8DB
the pink: #FF0066 
the light pink: #FF66A3;
*/

body {
  padding-top: 70px;
}

.perm-col {
  font-size: 14px;
}

div[class^="col-"], div[class*="col-"] {
  color: #9D9DA4;
  font-family: "Raleway";
  padding-top: 6px;
  padding-bottom: 6px;
}

.perm-col-left, .question  {
  text-align: center;
}

.perm-col-right {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #D8DCDC;
}

.pages-col-mid {
  text-align: right;
}

.highlightDropDown {
  color: #FF0066;
}

.header {
  font-size: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: #FF0066;
  padding-bottom: 1.5px;
}

.infoPartI {
  padding-top: 10px;
}

.infoPartII {
  padding-top: 40px;
}

.submitWrapper {
  text-align: center;
  padding-top: 30px;
}

.submitBtn {
  background-color: #4DB8DB;
  border: none;
  color: #fff;
}

.logo {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: white;
}

input {
  border: none;
}

.input-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

select {
  background:transparent;
  -webkit-appearance: none;
  border: none;
}

.profileContainer {
  margin: 8px;

  background-color: #FFF;
  border-radius: 5px;
  border-color: #D8DCDC;
  border-width: 3px;
  border-style: solid;
  padding: 5px;

  position: relative;
}

.profileInfoWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  background-color: #FFF;
  font-family: "Raleway";
  color: grey;
  font-size: 12px;

  position: relative;
  z-index: 3;
}

img.profile {
  max-width: 100%;
  max-height: auto;

  border-radius: 5px;
  border-color: #D8DCDC;
  border-width: 3px;
  border-style: solid;

  z-index: 1;

  background-color: transparent;
}

.profileNameWrapper {
  font-family: "Lobster";
  font-size: 25px;
  color: #FFF;
  background-color: rgba(0, 0, 5, .3);
  
  padding: 5px;
  padding-left: 20px;
  border-radius: 5px;
  
  position: absolute;
  top: 215px;
  z-index: 2;

  margin-left: 3px;
  margin-right: 3px;
  width: 94%;
}

.swipeButtonsWrapper {
  text-align: center;
  margin-right: 70px;
  margin-left: 70px;

  padding: 3px;

  background-color: white;

  position: relative;
  /*max-width: 150px;*/
  border-radius: 400px;
  border-color: #D8DCDC;
  border-width: 3px;
  border-style: solid;
}

.swipeRight {
  font-size: 60px;
  color: green;
}

.swipeLeft {
  font-size: 60px;
  color: #FF0066;
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}
