.profileContainer {
  background-color: #FFF;
  border-radius: 5px;
  border-color: #D8DCDC;
  border-width: 4px;
  border-style: solid;
  
  margin-right: 2%;
  margin-left: 2%;
  padding: 2%;
}

.profileInfoWrapper {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 7%;

  background-color: #FFF;
  font-family: "Raleway";
  color: grey;
  font-size: 3.8vw;

}

img.profile {
  max-width: 100%;
  max-height: auto;

  border-radius: 5px;
  border-color: #D8DCDC;
  border-width: 4px;
  border-style: solid;

  background-color: transparent;
}

.profileName {
  font-family: "Knewave";
  font-size: 10vw;
  display:inline;
  vertical-align: middle;
}

.overlapWrapper {
  padding-top: 65%;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 0; 
  right:0;
}

#nayButton, #yayButton {
  font-size: 10vw;
  vertical-align: middle;
  padding-left: 2%;
  padding-right: 2%;
}

#nayButton, #thumbsdown {
  color: red;
}

#yayButton, #thumbsup {
  color: green;
}

#thumbsup, #thumbsdown {
  text-align: center;
  font-size: 70vw;
}

#thumbsupWrapper, #thumbsdownWrapper {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0; 
  right:0;
  text-align: center;
  padding-top: 10%;
}

@font-face {
  font-family: "Knewave";
  src: url("Knewave-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}