
.profile-container {
	margin: 2em;
  font-family: "Raleway";
  font-size: 13px; 
}

.profile-wrapper {
	border-style: solid;
  border-color: #000000;
}

.display-name {
	margin-top: .5em;
  font-size: 50px;
  font-family: "Raleway";
  color: #000000;
  text-align: center;
}

.profile-pic-wrapper {
	padding: 1em;
}

.button-wrapper {
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
}

.button {
	max-width: 30%;
}

.profile-pic {
	height: auto;
	max-width: 100%;
}

.display-info-wrapper {
	font-size: 15px;
	font-family: "Raleway";
	padding-bottom: 1em;
	margin-left: 1em;
}