body {
	background-color: #FFFFF5;
}

.container {
	font-family: "Raleway";
}

.profile-wrapper {
	background-color: #D6E0CC;
}

.display-name {
  padding-top: .5em;
  font-size: 40px;
  text-align: center;
}

.profile-pic-wrapper {
	padding: 1em;
}

.button-wrapper {
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.button {
	max-width: 31%;
}

.profile-pic {
	height: auto;
	max-width: 100%;
}

.display-info-wrapper {
	padding-top: .25em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 1.5em;
	font-size: 15px;
}