body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #E8FAFF;
}

.fancy-text {
  font-family: "Raleway";
  text-align: center;
  color: #fff;
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}