body {
  padding-top: 8%;
  padding-bottom: 10%;
  background: url("/img/redrocks.jpg")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;     
}

h5 {
  font-size: 4vw;
}

.form-signin {
  max-width: 100%;
  padding: 10%;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 5%;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3%;
  font-size: 4vw;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.passwordNoMargin {
  margin-bottom: -1px;
}

.passwordWithMargin {
  margin-bottom: 5%;
}

.logo {
  font-size: 25vw;
  font-family: 'Lobster', cursive;
  color: #FF0066;
  text-align: center;
}

.fancy-text {
  font-family: "Raleway";
  text-align: center;
  color: #fff;
  font-weight: bold;
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}