.container {
	margin: 2em;
	font-family: arial;
   font-size: 17px;
}

a {
  color: #00005C;
  text-decoration: none;
}

a:hover {
  color: #FF0066;
}

input, button {
   outline: none;
   width: 41%;
   font-size: 17px;
   padding: .5em;
   margin-bottom: .25em;
   -webkit-border-radius: 5px; 
   -moz-border-radius: 5px; 
   border-radius: 5px; 
   border: none;
   background-color: #E5E5E5;
}

button:hover {
  background-color: #FF0066;
}

button:focus {
   background-color: #FF0066;
}

input:focus {
	background-color: #F8F8F8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;	
}

.styled-select, .ropeLevel, .boulderLevel {
	outline: none;
	width: 47%;
	height: 37px;
	padding: .5em;
	font-size: 17px;
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border: none;
	background-color: #E5E5E5;
}

#navigation-buttons {
  text-align: center;
}

.form-section, .ropeLevel, .boulderLevel {
   margin-top: 10px;
   margin-bottom: 10px;
} 

h1 {
   font-size: 20px;
   text-align: center;
}

select.boulderLevel, select.ropeLevel {
   margin: 3px 0px 13px 0px;
}

.logo {
  font-size: 100px;
  font-family: 'Lobster', cursive;
  font-color: #A37547;
  color: #B20000;
  text-align: center;
}

.fancy-text {
  font-family: "Raleway";
  font-size: 15px;
  text-align: center;
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}
