/*ids are #, classes are .*/

.container {
	margin: 100px;
}


/*log in page*/

#log_in_container {
	margin-top: 300px;	
	margin-bottom: 100px;
}

.logo {
	font-size: 230px;
	font-family: 'Lobster', cursive;
	font-color: #A37547;
	color: #B20000;
	text-align: center;
}

.text {
	margin: 5px;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #7A3D00;
	text-align: center;
}

#log_in_form {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
}

.log_in_input, .log_in_submit {
	height: 90px;
	width: 355px;
	border-radius: 6px;
	display: inline-block;
	font-size: 45px;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
	padding: 2px 12px 2px 12px;
	background-color: white;
}
