/*ids are #, classes are .*/

.container {
	margin: 100px;
}


/* sign in continued page*/

#intro_text {
	font-size: 50px;

}

#intro_text_small {
	font-size: 50px;

}

/*log in page*/

#log_in_container {
	margin-top: 300px;	
	margin-bottom: 100px;
}


.logo {
	font-size: 230px;
	font-family: 'Lobster', cursive;
	font-color: #A37547;
	color: #B20000;
	text-align: center;
}

.text {
	margin: 5px;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	color: #7A3D00;
	text-align: center;
}

#log_in_form {
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
}

.info_textbox, .log_in_input, .log_in_submit {
	margin-top: 10px;
}

.info_textbox, .log_in_input, .info_dropdown, .log_in_submit {
	height: 90px;
	width: 45%;
	border-radius: 6px;
	display: inline-block;
	font-size: 45px;
	font-family: 'Raleway', sans-serif;
	padding: 2px 12px 2px 12px;
	background-color: white;
}

.info_dropdown {
	margin-top: 0px;
}

/*universal sheet*/

body {
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
}

.box {
	float: left;
	margin: 30px;
	padding: 10px;
	width: 300px;
	border: 6px solid black;
}

a {
	color: #00005C;
  text-decoration: none;
}

a:hover {
  color: #FF0066;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}

