/*universal sheet*/

body {
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
}

.box {
	float: left;
	margin: 30px;
	padding: 10px;
	width: 300px;
	border: 6px solid black;
}

a {
	color: #00005C;
  text-decoration: none;
}

a:hover {
  color: #FF0066;
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Lobster";
  src: url("Lobster-Regular.ttf") format("opentype");
}